.trigger-pipeline:
  image: private.nexus-regs.docker:8086/alpine:latest
  variables:
    CI_DEFAULT_TRIGGER_BRANCH: main
    CI_DEPLOYMENT_ENV: review
    CI_GITLAB_SERVER_URL: $CI_SERVER_URL
  before_script:
    - echo "Print debug property => {ProjectName => ${PROJECT_NAME}, ProjectGroupId => ${PROJECT_GROUP_ID}, CommitSHA => ${CI_COMMIT_SHORT_SHA}, ProjectId => ${CI_PROJECT_ID} }"
    - echo "Deployed to server url => ${CI_GITLAB_SERVER_URL}, project id => ${CI_TRIGGER_DEPLOY_PROJECT_ID}"
  script:
    - apk add --no-cache curl git
    - |
      curl --fail --request POST \
        --form token=$CI_TRIGGER_DEPLOY_TOKEN \
        --form ref=$CI_DEFAULT_TRIGGER_BRANCH \
        --form "variables[CI_PARENT_PROJECT_NAME]=$PROJECT_NAME" \
        --form "variables[CI_ENV]=$CI_DEPLOYMENT_ENV" \
        --form "variables[CI_PARENT_PROJECT_GROUP_ID]=$PROJECT_GROUP_ID" \
        --form "variables[CI_PARENT_COMMIT_TAG]=$CI_COMMIT_TAG" \
        --form "variables[CI_PARENT_COMMIT_SHORT_SHA]=$CI_COMMIT_SHORT_SHA" \
        --form "variables[CI_PARENT_PIPELINE_PROJECT_ID]=$CI_PROJECT_ID" \
        --form "variables[CI_ENV_TRIGGERED]=true" \
        "${CI_GITLAB_SERVER_URL}/api/v4/projects/${CI_TRIGGER_DEPLOY_PROJECT_ID}/trigger/pipeline"

.gitlab-registry-trigger-pipeline:
  extend: .trigger_pipeline
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine:latest
  