stages:
  - deploy

deploy:
  stage: deploy
  image:
    name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/dimmaryanto93/k8s-kubectl-helm:${KUBECTL_VERSION}
    entrypoint: ['']
  variables:
    KUBE_CONTEXT: jobs/tabeldata/gitlab-devops-automation:testing
    KUBECTL_VERSION: "1.21.1-release"
  environment:
    kubernetes:
      namespace: backend-cicd
    name: development
  before_script:
    - kubectl config get-contexts
    - kubectl config use-context "$KUBE_CONTEXT"
  script:
    - kubectl get pods --insecure-skip-tls-verify=true